<header class="header">
    <div class="header-content text-white">
      <h1>We create unforgettable events</h1>
      <p>Join us for the best events and experiences.</p>
      <div class="search-bar d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Search events here...">
        <button class="btn btn-light ml-2">
          <i class="bi bi-search"></i> <!-- Icono de búsqueda de Bootstrap Icons -->
        </button>
      </div>
      <div class="auth-buttons mt-3">
        <button class="btn btn-primary mr-3" routerLink="/login">Sign In</button>
        <button class="btn btn-info" routerLink="/register">Sign Up</button>
      </div>
    </div>
  </header>
