<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="p-4">
    <h1>Dashboard</h1>
    <div class="row g-4 mb-4"><!--Start Cards-->
      <div class="col-xl-6 col-md-12"><!--Start Card Event -->
        <div class="card bg-gradient-primary text-white h-100 shadow-sm rounded">
          <div class="card-body d-flex">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="card-title mb-2">Eventos</h6>
                <p class="small mb-0">Proximos Eventos</p>
                <h4>Calender</h4>
              </div>
              <div>
                <i class="bi bi-calendar-event display-4"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between">
            <a class="text-white" routerLink="/consumption">Ver más detalles</a>
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>
      </div> <!--Start Card Event -->
       <div class="col-xl-6 col-md-12"><!-- Start Card Booking -->
        <div class="card bg-gradient-success text-white h-100 shadow-sm rounded">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h6 class="card-title mb-1">Reservas</h6>
                <p class="small mb-0">Tus reservas</p>
                <h4>Bookings</h4>
              </div>
              <div>
                <i class="bi bi-building-fill-check display-4"></i>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between">
            <a class="text-white" routerLink="/bookin">Ver mas detalles</a>
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>
      </div><!-- End Card Booking-->
    </div><!--End cards-->
  </div>
</div>
